<div class="d-flex align-items-center justify-content-center container-fluid" style="height: 100vh;">
    <form class="card p-4" style="width: 400px;" id="loginForm">
        <p class="fs-2 fw-bold text-center">Sign In</p>
        <div class="alert alert-warning" role="alert" hidden="true" id="loginErrorMessage">
          NO error
        </div>
        <div class="form-floating mb-4" >
            <input type="email" class="form-control" id="loginEmailInput" placeholder="name@example.com">
            <label for="loginEmailInput">Email address</label>
          </div>
 
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="loginPasswordInput" placeholder="Password">
            <label for="loginPasswordInput">Password</label>
          </div>
          
          <a href="#" id="loginChangingButton" class="text-decoration-none text-center mb-4">Don't you have an account?</a>

        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
      
</div>