<div class="d-flex align-items-center justify-content-center container-fluid" style="height: 100vh;">
    <form class="card p-4" style="width: 400px;" id="registerForm">
        <p class="fs-2 fw-bold text-center">Register</p>
        <div class="form-floating mb-4" >
            <input type="email" class="form-control" id="registerEmailInput" placeholder="name@example.com">
            <label for="loginEmailInput">Email address</label>
          </div>
 
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="registerPasswordInput" placeholder="Password">
            <label for="loginPasswordInput">Password</label>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="registerRepeatPasswordInput" placeholder="Password">
            <label for="registerRepeatPasswordInput">Repeat your password</label>
          </div>
          <a href="#" id="registerChanginButton" class="text-decoration-none text-center mb-4">Do you an account?</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      
</div>